option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    OPENAI_API_VERSION: "2024-02-01"
    OPENAI_API_BASE: "https://api.umgpt.umich.edu/azure-openai-api"
    OPENAI_ORGANIZATION_ID: "427696"
    GENERATOR_MODEL: "gpt-35-turbo"
    RECOMMENDER_MODEL: "gpt-4o"
    OPENAI_EMBEDDING_MODEL: "text-embedding-ada-002"
  
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
  
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    SecurityGroups: <SecurityGroupId>
  
  aws:ec2:vpc:
    VPCId: <VPCId>
    Subnets: <SubnetId>
    ELBSubnets: <ELBSubnetId>
  
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application